<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/css/uglify.css' />
    <title><%= title %></title>

  </head>
  <body>
    <p><input type="button" id="uglify" value="一键压缩"/></p>
    <div class="wrapper">
        <div class="meter red">
          <span style="width:0%"></span>
        </div>
        <div class="text">0%</div>
    </div>
  </body>
  <script type='text/javascript' src="/js/jquery.js" ></script>
  <script type='text/javascript' src="/socket.io/socket.io.js"></script>
  <script type='text/javascript' src="/js/uglify.js" ></script>
</html>